body {
  background-color: bisque;
  font-family: Arial;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.first {
  color: blue;
}

#your-name {
  background-color: yellow;
  border: 5px solid gray;
}
